<!DOCTYPE html>
<html>
<head>
    <title>Doctor Dashboard</title>
</head>
<body>
    <h2>Doctor {{ doctor }}</h2>

    {% if appointments %}
        <table border="1" cellpadding="10">
            <tr>
                <th>Token</th>
                <th>Patient</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>

            {% for a in appointments %}
            <tr>
                <td>{{ a.token }}</td>
                <td>{{ a.patient_name }}</td>
                <td>{{ a.date }}</td>
                <td>{{ a.status }}</td>
                <td>
                    {% if a.status != "completed" %}
                        <a href="/complete/{{ a._id }}/{{ doctor }}">
                            Mark Completed
                        </a>
                    {% else %}
                        ✔ Done
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No appointments.</p>
    {% endif %}
</body>
</html>
